* {
    box-sizing: border-box;
    height: 100%;
    padding: 20px;

}

.main {
    background-image: url("https://i.yapx.ru/GuYDB.gif");
    min-height: 100%;
    display: inline-flex;
    overflow-x: auto;
    white-space: nowrap;

}

.horizontal:nth-child(even) {
    padding: 15px;
    background: royalblue;
    width: 300px;
    height: 100%;
    margin: 10px;
    text-align: center;
    overflow: auto;
    white-space: pre-wrap;
    font-family: "Anastasia", sans-serif;
    font-weight: 700;
    font-style: normal;
    opacity: 0.5;
    cursor: pointer;
}

.horizontal:nth-child(odd) {
    padding: 15px;
    background: gold;
    width: 300px;
    height: 100%;
    margin: 10px;
    text-align: center;
    overflow: auto;
    white-space: pre-wrap;
    font-family: "Anastasia", sans-serif;
    font-weight: 700;
    font-style: italic;
    opacity: 0.5;
    cursor: pointer;
}

.vertical-main {
    padding: 15px;
    width: 400px;
    height: 100%;
    margin: 10px;
    overflow-y:auto;
    display: table-column-group;
    opacity: 0.5;
}

.vertical:nth-child(even) {
    background: royalblue;
    text-align: center;
    overflow-y: auto;
    white-space: pre-wrap;
    width: 400px;
    font-family: "Roboto", sans-serif;
    font-style: italic;
    cursor: pointer;
}

.vertical:nth-child(odd) {
    background: gold;
    text-align: center;
    overflow-y: auto;
    white-space: pre-wrap;
    width: 400px;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    cursor: pointer;
}

.vertical-main:hover {
    opacity: 1;
    font-size: 25px;
}

.horizontal:hover {
    opacity: 1;
    font-size: 25px;
    width: 400px;
}

.horizontal::-webkit-scrollbar {
    width: 0;
}

.vertical-main::-webkit-scrollbar {
    width: 0;
}

.vertical::-webkit-scrollbar {
    width: 0;
}

